footer{
    background-color: var(--gray);
    height: 3em;
    width: 100vw;

    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    font-family: var(--body);
}

.footerLinks{
    align-self: center;
    justify-self: center;
}

a{
    margin-right: 1rem;
    margin-left: 1rem;
}

.copyright{
    align-self: end;
    justify-self: center;
    font-family: var(--body);
    font-size: 0.85rem;
}

