/* header text */ @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
/* subheading text */ @import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
/* body text */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --background: #FFFFFF;
  --text: #1E1E1E;
  --primary: #772D88;
  --secondary: #EDAE49;
  --tertiary: #E2A9F1;
  --gray: #CCCCCC;

  --header: "Braah One", sans-serif;
  --subheading: "Hind", sans-serif;
  --body: "Roboto Slab", serif;

}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  line-height: 1em;
  letter-spacing: 0.18px;
}

.main-content{
  padding: 1.5em;
}

h1 {
  font-family: var(--header);
  font-size: 2.5rem;

  color: var(--text);
}

h2 {
  font-family: var(--subheading);
  font-weight: 700;
  font-size: 1.6rem;

  color: var(--text);
}

p {
  font-family: var(--body);
  font-weight: 400;
  font-size: 1rem;

  color: var(--text);
}