/* header text */ @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
/* subheading text */ @import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
/* body text */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --background: #FFFFFF;
  --text: #1E1E1E;
  --primary: #772D88;
  --secondary: #EDAE49;
  --tertiary: #E2A9F1;
  --gray: #CCCCCC;
  --off_white: #dedede;

  --header: "Braah One", sans-serif;
  --subheading: "Hind", sans-serif;
  --body: "Roboto Slab", serif;

}

body {
  margin: 0;
  background-color: var(--background);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  line-height: 1em;
  letter-spacing: 0.18px;
}

.main-content{
  padding: 0.75em;
  display: block;
  height: 100%;
  justify-items: end;
}

h1 {
  font-family: var(--header);
  font-size: 2.3rem;

  color: var(--text);
}

h2 {
  font-family: var(--subheading);
  font-weight: 700;
  font-size: 1.6rem;

  color: var(--text);
}

p {
  font-family: var(--body);
  font-weight: 400;
  font-size: 1rem;

  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text)
}

button{
  font-size: 0.875rem;
  font-family: var(--body);

  background-color: var(--tertiary);
  border-radius: 8px;
  border: none;
}

button:hover{
  background-color: var(--secondary);
}