/* header text */ @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
/* subheading text */ @import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
/* body text */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*#region =======ROOT======= */
:root {
  --background: #FFFFFF;
  --text: #1E1E1E;
  --primary: #772D88;
  --secondary: #EDAE49;
  --tertiary: #E2A9F1;
  --gray: #CCCCCC;
}

html, body, #root {
  height: 100%;
  margin: 10;
  padding: 0;
}

.main-content {
    min-height: 100vh;
}
/*#endregion ROOT*/